@* For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860 *@ @{
                                                                                                                   } @section
                                                                                                                     scripts{
                                                                                                                         <script src="~/js/main.js"></script>
                                                                                                                     }

<div class="container-fluid">
    <div class="col-md-5">

    </div>
    <div class="col-md-7" :controller="loginCtrl">
        <form id="loginPanel" :on-submit="login($event)" :if="!user.isLogin">
            <input type="text" :duplex="user.loginId"/>
            <input type="password" :duplex="user.password"/>
            <input type="submit" value="登录"/>
        </form>
        <div :if="user.isLogin">
            {{user.isLogin}}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="symbolList" :controller="symbolList" class="col-md-3">

        <ul>
            <li :for="(id,el) in @@symbols">

                <a href="javascript:;" :class="el.active?'symbol-active':''" :click="active(el)">
                    {{el.info.name}}
                </a>
                当前价格:{{el.price}}

                幅度：{{el.amp}}

                频率:{{el.seq}}

            </li>
        </ul>

    </div>


    <div id="main" class="col-md-7">

    </div>

    <div id="buy" class="col-md-2" :controller="investmentCtrl">
        <table>
            <tr>
            <td>Volume:</td>
            <td>
                <input type="text" :duplex="openOrderInfo.volume">
            </td>
            <tr>
                <td>price:</td>
                <td>{{@@symbol.price}}</td>
            </tr>
            <tr>
            <td>symbol:</td>
            <td>{{@@symbol.info.name}}</td>
            <tr>
            <td>
                <button :click="up()">up</button>
                <button :click="down()">down</button>
            </td>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6">
        <div id="admin-order-output" :controller="orderAdminCtrl">
            <table class="table-bordered table">
                <tr>
                    <td>订单号</td>
                    <td>状态</td>
                    <td>建仓Time</td>
                    <td>建仓Price</td>
                    <td>Close Time</td>
                    <td>Close Price</td>
                </tr>
                <tbody>
                <tr :for="el in @@orders">
                    <td>{{el.id}}</td>
                    <td>{{el.status}}</td>
                    <td>{{el.openTime}}</td>
                    <td>{{el.openPrice}}</td>
                    <td>{{el.closeTime}}</td>
                    <td>{{el.closePrice}}</td>

                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>